{%extends "layout.html"%}
{%block content%}
<div class="about">
    <h1>
        Resumo
    </h1>
    <p>Oito anos de experiência em Engenharia de Pesquisa e Desenvolvimento (R&D), com atuação nas áreas de modelagem matemática e simulação de sistemas dinâmicos, utilizando MATLAB e Simulink. Vivência no desenvolvimento e implementação de sistemas mecatrônicos e sistemas de supervisão e controle para a indústria automotiva.</p>
    <p>Mais de dois anos de experiência como desenvolvedor autônomo, focado no estudo de Ciência de Dados com Python e no desenvolvimento de aplicativos baseados nas linguagens de programação MQL5 e C#.</p>
    <p>Engenheiro de Controle e Automação formado pela UNESP de Sorocaba, com mestrado em Engenharia de Sistemas pela Escola Politécnica da USP. Especializado no projeto e simulação de veículos híbridos e elétricos. Certificação em Ciência de Dados com Python e Desenvolvedor Unity C#.</p>
</div>
{%endblock%}